.text {
  color: #04d7a2;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 580px) {
  .text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.service > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 4rem;
}

.ser_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 590px) {
  .ser_header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ser_header h1 {
  font-size: 47px;
  line-height: 1;
  font-weight: 900;
  color: #1d214e;
  width: 25%;
  margin-right: 5rem;
}

@media screen and (max-width: 590px) {
  .ser_header h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.ser_p {
  width: 40%;
  color: gray;
}

@media screen and (max-width: 590px) {
  .ser_p {
    width: 100%;
    text-align: center;
  }
}

.ser_book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 760px) {
  .ser_book {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 970px) {
  .ser_book {
    border: 1px solid red;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.book_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  border-radius: 50px;
}

@media screen and (max-width: 1040px) {
  .book_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 70%;
  }
}

.book_item .book {
  overflow: hidden;
  text-align: center;
  width: 170px;
  padding: 15px;
  position: relative;
  height: 200px;
}

@media screen and (max-width: 1146px) {
  .book_item .book {
    padding: 15px;
  }
}

@media screen and (max-width: 760px) {
  .book_item .book {
    width: 190px;
  }
}

@media screen and (max-width: 620px) {
  .book_item .book {
    width: 100%;
  }
}

.book_item .book .bx-right-arrow-alt {
  display: none;
}

.book_item .book:hover {
  background: white;
  border-radius: 25px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.book_item .book:hover .bx-right-arrow-alt {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #1d214e;
  border-radius: 50%;
  margin: 1rem;
  text-align: center;
}

.book_item .book:hover .bx-right-arrow-alt:hover {
  background-color: #04d7a2;
  color: #1d214e;
}

.book_item .book i {
  color: #04d7a2;
  font-size: 50px;
  font-weight: 100;
}

.section1 {
  padding: 5rem 0 3rem 0;
  border-top: 1px solid rgba(128, 128, 128, 0.137);
}

.book_p {
  color: gray;
}

.book_btn {
  color: #1d214e;
  border: 3px solid #04d7a2;
  padding: 14px 38px;
  border-radius: 30px;
  text-align: center;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.book_btn:hover {
  border: 3px solid #1d214e;
  color: #04d7a2;
}
/*# sourceMappingURL=header.css.map */