.app {
  height: 100vh;
  .section {
    width: 100%;

    height: calc(100vh-70px);
    z-index: 2;
    position: relative;
    top: 70px;

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
}
